

body {
    background-image: url('..//img/background.png');
    font-family: 'Press Start 2P';
}
.container {
    display: flex;
    justify-content: center;
}
canvas {
    border-right: rgb(151, 151, 151) solid 10px;
    border-bottom: rgb(151, 151, 151) solid 10px;
}
.btns {
    display: flex;
    justify-content: center;
    padding: 5px;
}

button {
    background-color: #EEEBEB;
    border: none;
    color: #979797;
    padding: 15px 32px;
    font-family: 'Press Start 2P';
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-right: rgb(151, 151, 151) solid 5px;
    border-bottom: rgb(151, 151, 151) solid 5px;
}
button:hover {
    color: #EEEBEB;
    background-color: #979797;
    border-left: #6c6c6c solid 5px;
    border-top: #6c6c6c solid 5px;
}