

body {
    background-image: url('./background.png');
}
.container {
    padding-top: 50px;
    /* height: max-contet; */
    display: flex;

    justify-content: center;
}
.btns {
    display: flex;
    justify-content: center;
    padding: 5px;
}